* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background: rgb(239, 232, 216);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 0 1rem;
}
.btn:hover {
  background: #666;
}
.btnAdd {
  width: 15%;
  color: rgb(239, 232, 216);
  margin-left: 560px;
  margin-top: 50px;
  padding: 5px;
  background-color: rgb(19, 84, 76);
  border: 1px solid rgb(19, 84, 76);
  font-weight: 600;
  flex: 1;
  cursor: pointer;
}
