.showForm {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(239, 232, 216);
  display: flex;
  flex-direction: row;
}
.liStyle {
  float: left;
  display: block;
  width: 14.0%;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  padding: 16px 10px 16px;
  border-bottom: 1px solid #333;
}
.inputStyle {
  flex: 1;
  float: left;
  display: block;
  text-align: center;
  padding: 4px;
  width: 270px;
  height: 40px;
  margin-right: 7px;
  margin-left: 12px;
  margin-top: 10px;
  border: none;
  }
.Btn {
  background-color: rgb(239, 232, 216);
  border: none;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  float: right;
  margin-right: 25px;
  margin-top: 5px;
}
.formStyle{
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
}
.columnFile{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
label{
  color: rgb(19, 84, 76);
  width: 100%;
  padding: 2px;
  display: block;
  text-align: center;
  background-color: white;
  font-weight: 600;
}
select{
  font-size: 15px;
  width: 96%;
  height: 26px;
  margin-top: 7px;
  text-align-last:center;
  height: 30px; 
}
.lineGroup{
  margin-bottom: 27px;
}
.BtnModCheck{
  width: 100%;
  color: rgb(239, 222, 216);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: rgb(19, 84, 76);
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.BtnModCancel{
  width: 100%;
  color: rgb(239, 222, 216);
  margin-top: 10px;
  padding: 15px;
  background-color: rgb(255, 129, 10);
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.btnSubmit {
  width: 40%;
  color: rgb(239, 222, 216);
  margin-left: 5%;
  margin-top: 10px;
  padding: 15px;
  background-color: rgb(19, 84, 76);
  border: 2px solid rgb(19, 84, 76) ;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.msgConfirm{
  font-size: 25px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
.errorMsg{
  color: brown;
  font-weight: 600;
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 5px 10px
}
.errorDiv{
  text-align: center;
}