.wrapUl {
  display: flex;
  flex-direction: column;
}
.ulStyle {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(239, 232, 216);
  border-bottom: 1px solid #333;
  list-style-type: none;
}
.liStyleHeader {
  display: block;
  float: left;
  width: 14%;
  padding: 16px 16px 16px;
  color: rgb(19, 84, 76);
  font-weight: 800;
  font-size: 12;
  text-align: center;
}
