.formStyle{
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
  
}
.columnfile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.columnA{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.columnB{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}
.inputStyle {
  float: left;
  display: block;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  padding: 4px;
  width: 100%;
  height: 30px;
}
.btnSubmit {
  width: 100%;
  color: rgb(239, 222, 216);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: rgb(19, 84, 76);
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.btnSubmitCancel{
  width: 100%;
  color: rgb(239, 222, 216);
  margin-top: 10px;
  padding: 15px;
  background-color: rgb(255, 129, 10);
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.lineGroup{
  margin-bottom: 27px;
}
.errorMsg{
  color: brown;
  font-weight: 600;
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 5px 10px
}
.errorDiv{
  text-align: center;
}
select{
  font-size: 15px;
  width: 96%;
  height: 26px;
  margin-top: 7px;
  text-align-last:center;
  height: 30px; 
}
