.inputStyle {
  flex: 1;
  float: left;
  display: block;
  font-size: 15px;
  text-align: center;
  padding: 4px;
  width: 100%;
  height: 30px;
}
.btnSubmit {
  width: 42%;
  color: rgb(239, 222, 216);
  margin-left: 6%;
  margin-top: 10px;
  padding: 15px;
  background-color: rgb(19, 84, 76);
  border: none;
  font-weight: 600;
  flex: 1;
  font-size: 15px;
  cursor: pointer;
}
.btnSubmitCancel{
  width: 42%;
  color: rgb(239, 222, 216);
  margin-left: 6%;
  margin-top: 10px;
  padding: 15px;
  background-color: rgb(255, 129, 10);
  border: none;
  font-weight: 600;
  flex: 1;
  font-size: 15px;
  cursor: pointer;
}
.lineGroup{
  margin-bottom: 50px;
}
.errorMsg{
  color: brown;
  font-weight: 600;
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 5px 10px
}
.errorDiv{
  text-align: center;
}
select{
  font-size: 15px;
  width: 98%;
  height: 26px;
  margin-top: 7px;
  margin-bottom: 20px;
}
