.addForm {
  margin-top: 10px;
  display: block;
  text-align: center;
}
.inputStyle {
  align-content:  center;
  margin-bottom: 7px;
  display: block;
  padding: 3px;
  width: 100%;
}
.btnSubmit {
  width: 40%;
  color: rgb(239, 222, 216);
  margin-left: 5%;
  margin-top: 10px;
  padding: 15px;
  background-color: rgb(19, 84, 76);
  border: 2px solid rgb(19, 84, 76) ;
  font-weight: 600;
  flex: 1;
  font-size: 15px;
  cursor: pointer;
}
.errorMsg{
  color: brown;
  font-weight: 600;
}
select{
  font-size: 15px;
  width: 92%;
  height: 26px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}

