.addForm {
  margin-top: 10px;
  display: block;
  text-align: center;
}
.inputStyle {
  align-content:  center;
  margin-bottom: 7px;
  display: block;
  padding: 3px;
  width: 100%;
  height: 26px;
}
.btnSubmit {
  width: 40%;
  color: rgb(239, 222, 216);
  margin-left: 5%;
  margin-top: 10px;
  padding: 15px;
  background-color: rgb(19, 84, 76);
  border: 2px solid rgb(19, 84, 76) ;
  font-weight: 600;
  flex: 1;
  font-size: 15px;
  cursor: pointer;
}
.btnCancel{
  width: 15%;
  color: rgb(239, 232, 216);
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(19, 84, 76);
  border: 1px solid #333;
  font-weight: 600;
  flex: 1;
  cursor: pointer;
  float:right;
}
.errorMsg{
  color: brown;
  font-weight: 600;
}
.slection{
  width: 98%;
  height: 26px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
  align-content:  center;
}
label{
  font-size: 17px;
  font-weight: 600;
}
