<<<<<<< HEAD
.Main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background:  rgb(239, 232, 216);
=======
.Main{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: rgb(212, 212, 212);
>>>>>>> c9ab34d (Add css module)
}
.container {
  padding: 0 1rem;
}

.btn:hover {
  background: #666;
}
