.addForm {
  margin-top: 10px;
  display: block;
  text-align: center;
}
.inputStyle {
  align-content:  center;
  margin-bottom: 7px;
  display: block;
  padding: 3px;
  width: 100%;
}
.btnSubmit {
  width: 15%;
  color: rgb(239, 232, 216);
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(19, 84, 76);
  border: 1px solid #333;
  font-weight: 600;
  flex: 1;
  cursor: pointer;
}
